[BuilderBlock]
label = "FAQ Section"
category = "Theme Blocks"
icon = "fa fa-question-circle-o"
==
<section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Dúvidas e informações importantes</h2>
          <p>A fim de dar transparência à sua gestão, o CEJAM - Centro de Estudos e Pesquisas “Dr. João Amorim” torna pública todas as suas ações, apresentando seus Contratos de Gestão, Convênios, Regimento de Compras, Prestações de Contas e Relatório de Atividades Consolidado, de acordo com as ações realizadas junto ao Poder Público.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">O que é o CEJAM? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Fundado em 1991, o Centro de Estudos e Pesquisas “Dr. João Amorim” (CEJAM) é uma entidade sem fins lucrativos, que atua em parceria com prefeituras locais, nas regiões onde atua, ou com o Governo do Estado, no gerenciamento de serviços e programas de saúde. O seu nome é uma homenagem ao Dr. João Amorim, médico obstetra e um dos fundadores da entidade.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">O que fazemos? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Com a missão de ser instrumento transformador da vida das pessoas por meio de ações de promoção, prevenção e assistência à saúde, o CEJAM é qualificado como Organização Social (OSS) em vários municípios com reconhecida experiência na gestão de serviços de saúde, sendo considerado uma Instituição de excelência no apoio ao Sistema Único de Saúde (SUS).
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Onde atuamos? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Atualmente, o CEJAM atua em 15 municípios, sendo eles: São Paulo, Cajamar, Campinas, Mogi das Cruzes, Carapicuíba, Peruíbe, Embu das Artes, Rio de Janeiro, Ferraz de Vasconcelos, Francisco Morato, Franco da Rocha, Guarulhos, Itu, Osasco e Santos.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Qual a função do Instituto CEJAM? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  O Instituto CEJAM, idealizado pelo Dr. Fernando Proença de Gouvêa (in memoriam) em fevereiro de 2010, é um braço de atuação do CEJAM responsável por desenvolver, coordenar e orientar ações, projetos e campanhas socioambientais e de promoção à saúde, nas unidades de saúde gerenciadas pela organização e comunidades em torno. É responsável por operacionalizar o cumprimento das metas relacionadas aos objetivos de desenvolvimento sustentável, através de ações desenvolvidas por programas que estão divididos em dois eixos: Responsabilidade Social e Ambiental.
                </p>
              </div>
            </li>

            <!-- <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                </p>
              </div>
            </li> -->

          </ul>
        </div>

      </div>
    </section>