{# Favicon #}
<link rel="icon" type="image/png" href="{{ 'assets/img/favicon.png'|theme }}">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

{# Styles #}
<link href="{{ 'assets/vendor/bootstrap/bootstrap.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/vendor/bootstrap-icons/bootstrap-icons.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/vendor/slick-carousel/slick.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/vendor/slick-carousel/slick-theme.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/vendor/photoswipe/photoswipe.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/vendor/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css'|theme }}" rel="stylesheet">
<link href="{{ ['assets/less/theme.less']|theme }}" rel="stylesheet">

  <!-- Arquivos CSS Proprietários -->
  <link href="{{'assets/vendor/fontawesome-free/css/all.min.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/animate.css/animate.min.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/bootstrap/css/bootstrap.min.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/bootstrap-icons/bootstrap-icons.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/boxicons/css/boxicons.min.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/glightbox/css/glightbox.min.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/remixicon/remixicon.css' | theme }}" rel="stylesheet">
  <link href="{{'assets/vendor/swiper/swiper-bundle.min.css' | theme }}" rel="stylesheet">

  <!-- Arquivo CSS Principal do Template -->
  <link href="{{'assets/css/style.css' | theme }}" rel="stylesheet">
  
{% styles %}