[BuilderBlock]
label = "Header"
category = "Theme Blocks"
icon = "fa fa-window-maximize"
==
<!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:tirio@cejam.org.br">sederj@cejam.org.br</a>
        <i class="bi bi-phone"></i> SEDE -&nbsp;(21) 99999-9999
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <a href="https://pt-br.facebook.com/cejamoficial/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/cejamoficial/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://pt.linkedin.com/company/cejam" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        <a href="https://www.youtube.com/tvcejam" class="youtube"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!-- <h1 class="logo me-auto"><a href="index.html">Intranet CEJAM RJ</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1 class="logo me-auto"><a href="../../../"><img src="{{ 'assets/img/logo.png'|theme }}" alt="" class="img-fluid"></a></h1>
      
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="../../../../#home">Home</a></li>
          <li><a class="nav-link scrollto" href="../../../../#why-us">Quem somos</a></li>
          <li class="dropdown show-on-desktop hide-on-mobile"><a class="nav-link scrollto" href="../../../../#services"><span>Links úteis</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../../../../cardapio">Cardápio do Dia</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> -->
              <li><a href="../../../../#">Abertura de Chamados</a></li>
              <li><a href="../../../../lista-de-ramais">Lista de Ramais</a></li>
            </ul>
          </li>
          <li class="dropdown show-on-mobile hide-on-desktop"><a class="nav-link scrollto" href="../../../../#"><span>Links úteis</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="../../../../cardapio">Cardápio do Dia</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> -->
              <li><a href="../../../../#">Abertura de Chamados</a></li>
              <li><a href="../../../../lista-de-ramais">Lista de Ramais</a></li>
            </ul>
          </li>
          <!-- <li><a class="nav-link scrollto" href="#services">Links úteis</a></li> -->
          <li><a class="nav-link scrollto" href="../../../../#departments">Fique por dentro</a></li>
          <li><a class="nav-link scrollto" href="../../../../#doctors">Equipe</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="../../../../#contact">Contato</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="../../../../admin" class="appointment-btn scrollto" target="_blank"><span class="d-none d-md-inline"></span>Login</a>

    </div>
  </header><!-- End Header -->