[BuilderBlock]
label = "Why Us Section"
category = "Theme Blocks"
icon = "fa fa-question"
==
<!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Quem somos</h3>
              <p>
                O CEJAM - Centro de Estudos e Pesquisas “Dr. João Amorim” é uma entidade sem fins lucrativos fundada em 20 de maio de 1991 por um grupo de médicos, advogados e profissionais de saúde do Hospital Pérola Byington - Centro de Referência da Saúde da Mulher e de Nutrição, Alimentação e Desenvolvimento Infantil - CRSMNADI para dar apoio àquela Instituição.
              </p>
              <!-- <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Nossa visão</h4>
                    <p>Ser reconhecida como a melhor instituição nacional na gestão de saúde populacional</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Nossa missão</h4>
                    <p>Ser instrumento transformador da vida das pessoas por meio de ações de promoção, prevenção e assistência à saúde</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Nosso lema</h4>
                    <p>Prevenir é Viver com Qualidade</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->