<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Head -->
  {% partial 'blocks/head' %}

</head>

<body>
  
  {% page %}

  <!-- Arquivos JS Proprietários -->
  <script src="{{'assets/vendor/purecounter/purecounter_vanilla.js' | theme }}"></script>
  <script src="{{'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | theme }}"></script>
  <script src="{{'assets/vendor/glightbox/js/glightbox.min.js' | theme }}"></script>
  <script src="{{'assets/vendor/typed.js/typed.umd.js' | theme }}"></script>
  <script src="{{'assets/vendor/swiper/swiper-bundle.min.js' | theme }}"></script>
  <script src="{{'assets/vendor/php-email-form/validate.js' | theme }}"></script>

  <!-- Arquivo JS Principal do Template -->
  <script src="{{'assets/js/main.js' | theme }}"></script>

</body>

</html>